.blog-wrapper {
  gap: 20px !important;
}
.pfp {
  object-fit: cover;
  height: 100% !important;
}
.blog-card-content {
  display: -webkit-box !important;
  word-break: break-word !important;
  hyphens: auto !important;
  -webkit-line-clamp: 5 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  max-height: 150px !important;
}
.blog-card-content img {
  width: 90%;
  display: block;
  margin: 0 auto;
  aspect-ratio: 4/3;
  object-fit: scale-down;
}
.blog-card-title {
  word-break: break-word;
  hyphens: auto;
  display: -webkit-inline-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 5px 10px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .blog-wrapper {
    width: 70% !important;
    margin: 0 auto !important;
  }
}
